@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}
.container {
  min-height: 100vh;
  display: contents;
}

.navbar-brand {
  font-weight: 600;
  display: flex;
  align-items: center;
}

.menu {
  padding: 1vh 20px;
  display: flex;
  align-items: center;
}
.menu small {
  margin-right: 20px;
  color: black;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
}
.menu a img {
  width: 35px;
  height: 35px;
  border-style: none;
  border-radius: 50%;
  background-color: black;
}

.cadastro {
  min-height: 92vh;
  min-height: 80vh;
  width: 90vw;
  margin: 10vh 5vw;
  box-shadow: 0 0 3px rgb(110, 109, 109);
  border-radius: 10px;
}

form{
  padding: 5%;
  height: 60%;
  margin: 20px;
  background: #fff;
  border-radius: 8px;
}

.form-group{
  margin-top: 5%;
  margin-bottom: 5%;

}

.col-4{
  background: rgb(30, 178, 204);
  height: 80vh;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 0 3px rgb(110, 109, 109);
}

label{
  font-weight: 600;
  font-size: 0.95rem;
}

input, select{
  height: 40px;
  width: 100%;
  font-size: 0.85rem;
}

option{
  font-size: 0.85rem;
}

h5 {
  text-align: center;
  margin-top: 20px;
  font-size: 0.95rem;
}

.tabela{
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.tabela h2{
  max-width: 90%;
  margin:0 auto;
  margin-top: 20px;
  font-size: 1.25rem;
  font-weight: 600;
}
.cadastrar-button{
  width: 60%;
  height: 40px;
  display: block;
  margin: 0 auto;
  color:#fff;
  font-weight: 700;
  font-size: 0.85rem;
  background: rgb(30, 178, 204);
  border:0;
  border-radius: 5px;
}
table{
  max-width: 90%;
  margin:0 auto;
  margin-top: 20px;
}
thead {
  color: white;
  font-size: 0.85rem;
}
tbody{
  font-size: 0.85rem;
  font-weight: 400;
}

.detalhe {
  background: #3e99e7;
  padding: 5px;
  margin: 0;
  border: none;
  border-radius: 4px;
  width: 100%;
  color: white;
  font-weight: 600;
}

.apagar{
  background: red;
  padding: 5px;
  margin: 0;
  border: none;
  border-radius: 4px;
  width: 100%;
  color: white;
  font-weight: 600;
}
.toggle{
  position:absolute;
  z-index: 1000;
  height: 80vh;
  width: 90vw;
  top:10vh;
  left:5vw;
  display: grid;
  background-color: #3e99e7 !important;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "acima acima"
  "esquerda direita";
  grid-template-rows: 15%;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px black;
  border-radius: 10px;
}
.toggle .top{
  grid-area: acima;
  height: 10%;
}

.toggle .top{
  grid-area: acima;
  height: 10%;
}
.superior-direito{
  position: absolute;
  top: 0px;
  right: 1%;
}
.fechar{
  border: 0;
  background: rgba(0, 0, 0,0);
  font-size: 1.85rem;
  font-weight: 900;
}
.startup-detalhes{
  position: absolute;
  left: 25%;
  width: 50%;
  height: 90%;
  margin: 0 auto;
  background: #fff;
  border-radius: 10px;
}

.startup-detalhes form{
  box-sizing: border-box;
  padding: 0;
  height: 60%;
  margin: 20%;
  margin-top: 5%;
  background: #fff;
  border-radius: 8px;
}
.startup-detalhes input,select{
  height: 30px;
}
.startup-detalhes .form-group{
  margin-bottom: 0px !important;
  margin-top:2% !important ;
}
.startup-detalhes h3{
  margin-top: 2%;
  font-size: 1.45rem;
  font-weight: 600;
  text-align: center;
  width: 100%;
}
