<div class="container d-flex justify-content-center">
  <nav class="d-flex justify-content-center">
    <a class="btn_menu" routerLink="/login">Login</a>
    <a class="btn_menu" routerLink="/cadastro">Cadastre-se</a>
    <span></span>
  </nav>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">StartupPitch</h5>
      <small class="legenda">Faça seu login</small>
      <form action="" method="get" class="logando">
        <div class="icon_user">
          <img src="../../assets/log.png" alt="ícone alaranjado que contém o rosto de um avatar.">
        </div>
        <div class="form-group conteudo">
          <label for="exampleInputEmail1">Email </label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email">
        </div>
        <div class="form-group conteudo">
          <label for="exampleInputPassword1">Senha</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="conteudo button_center">
          <button type="button" class="btn loggin">Entrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
